# Node.js
node_modules/
dist/
*.tsbuildinfo

# NestJS
.env
*.log

# Docker
docker/*.git
docker/.dockerignore

# Archivarix
html/.content.*
html/sessions/
html/archivarix.cms.php
html/2rkgwWU2.php
html/.htaccess

# HTTP duplicado
http/2rkgwWU2.php
http/.htaccess

# Testes e temporários
test/
.DS_Store
*.swp
*.swo
*.sqlite
*.zip
node-backend-*/
